@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/MarkPro-Black.otf');
    font-weight: 900;
    font-style: normal  ;
    font-display: swap;
}
@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/Mark-Pro-Heavy.ttf');
    font-weight: 700;
    font-style: normal  ;
    font-display: swap;
}
@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/Mark-Pro.ttf');
    font-weight: 400;
    font-style: normal  ;
    font-display: swap;
}
@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/Mark-Pro-Bold.ttf');
    font-weight: 500;
    font-style: normal  ;
    font-display: swap;
}